/* client/src/App.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #a43737;
  margin: 0;
  padding: 0;
}


.total-amount {
  margin-top: 20px;
  font-weight: bold;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  font-family: "Poppins", sans-serif;
  
  font-weight: 500;
  font-style: normal;
  background-color: #acb1ba;
  color: rgb(185, 115, 115);
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

.main-content {
  font-family: "Poppins", sans-serif;
  font-weight: 90;
  background-color: #937272;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.item-list {
  margin-top: 20px;
}

.item-list ul {
  list-style-type: none;
  padding: 0;
}

.item-list li {
  background-color: #f9f9f9;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item-list li:hover {
  background-color: #f0f0f0;
}

.item-list button {
  background-color: #ff5555;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.item-list button:hover {
  background-color: #ff3333;
}

.form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form input[type="text"],
.form input[type="number"],
.form button {
  margin: 10px 0;
  padding: 10px;
  width: calc(100% - 20px);
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form button:hover {
  background-color: #45a049;
}
